.main_header {
    /* Пешеходные квесты по всей России */
    
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 74px;
    line-height: 110px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
    /* White */
    
    color: #ffffff;
}

.under_main_header {
    /* играй, изучай, развивайся, развлекайся */

    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;

    /* White */

    color: #FFFFFF;
}

.mda {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;

    /* Accent */

    color: #F7654A;
}

.mda1 {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;

}

.footer_text {
    /* p */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    /* White */

    color: #FFFFFF;
}

.question_text {
    /* h4 */

    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;

    /* gray */

    color: #999999;
}