.rectangle0 {
    top: 750px;
    position: absolute;
    left: 0%;
    right: 0%;
}

.rectangle1 {
    position: absolute;
    left: 18%;
    right: 18%;
}

.rectangle2 {
    position: absolute;
    left: 18%;
    right: 18%;

    background: #F7F7F7;
}

.rectangle3 {
    position: absolute;
    left: 0%;
    right: 0%;

    /* Dark */
    background: #404149;
}

.rectangle3_game {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 1000px;

    /* Dark */
    background: #404149;
}

.rectangle4 {
    padding: 6px 0 4px 15px;
    background: #F7F7F7;
}

.rectangle5 {
    position: absolute;
    height: 100px;
    left: 0%;
    right: 0%;
    /* Accent */

    background: #F7654A;
}

.rectangle6 {
    position: absolute;
    top: 25%;
    height: 50px;
    width: 50%;

    background: #FFFFFF;
}